<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Saves</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="mysaves.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script
      src="https://kit.fontawesome.com/1e4daf36c1.js"
      crossorigin="anonymous"
    ></script>
    <!-- {% block style %} {% endblock %} -->
    
  </head>
  <body>
    <header>
      <div id="header-container">
        <div class="header-item">
          <a href="index.html"
            ><img
              id="header-logo"
              src="{% static 'images/animo logo.png' %}"
              alt="Our logo"
          /></a>
        </div>
        <div class="header-item">
          <ul id="navigation">
            <li
              id="home"
              class="{% active_link 'index' strict=True %} nav-list"
            >
              <a href="{% url 'index' %}">Home</a>
            </li>
            <li id="doc" class="nav-list">
              <a href="{% url 'documentation' %}">Documentation</a>
            </li>
            <li
              id="support"
              class="{% active_link 'support' strict=True %} nav-list"
            >
              <a href="{% url 'support' %}">Support</a>
            </li>
            <input
              class="search-bar hide-after-login"
              type="search"
              name="search-animation"
              placeholder="Search for animations"
            />
          </ul>
        </div>
        <div class="header-item hide-after-login">
          <ul class="entry">
            <li id="login">
              <a href="#">Login</a>
            </li>
            <li id="register" class="btn small-btn">
              <a href="#">Register</a>
            </li>
          </ul>
        </div>
        <div class="header-item show-after-login">
          <input
            class="hide search-bar"
            type="search"
            name="search-animation"
            placeholder="Search for animations"
          />
          <img
            id="profile-img-nav-bar"
            class="profile-img"
            src="logo.png"
            alt=""
          />
          <span><i id="profile-click" class="fa-thin fa-angle-down"></i></span>
          <div id="show-after-profile-click" class="profile-dropdown">
            <img
              id="profile-img-drop-down"
              class="profile-img"
              src="logo.png"
              alt=""
            />
            <p class="name">
              John Doe <span class="v-profile">View profile</span>
            </p>
          </div>
        </div>
      </div>
    </header>
    <!-- {% block content %} {% endblock %} -->

    <div class="saves-title">
        <p>My Saves</p>
    </div>
    <div class="bigbox1">
      <div class="biggerbox1">
        <div class="bigbox2">
            <div class="line1"></div>
            <div class="smallbox12">
              <div class="imgicon">
                <p class="subtitle1">Bounce</p>
                <button style='border: none; background-color: rgba(31, 39, 130, 0);;'; type="button"> <img style="background-color: none; width: 24px; height: 24px; align-content: space-between;" src="https://i.postimg.cc/L5f068Lj/delete.png" alt="Delete"></button>
              </div>
              <p class="view1">View in Documentation</p>
            </div>
        </div>
        <div class="bigbox2">
            <div class="line1"></div>
            <div class="smallbox12">
              <div class="imgicon">
                <p class="subtitle1">Bounce</p>
                <button style='border: none; background-color: rgba(31, 39, 130, 0);;'; type="button"> <img style="background-color: none; width: 24px; height: 24px; align-content: space-between;" src="https://i.postimg.cc/L5f068Lj/delete.png" alt="Delete"></button>
              </div>
              <p class="view1">View in Documentation</p>
            </div>
        </div>
        <div class="bigbox2">
          <div class="line1"></div>
          <div class="smallbox12">
              <div class="imgicon">
                <p class="subtitle1">Bounce</p>
                <button style='border: none; background-color: rgba(31, 39, 130, 0);;'; type="button"> <img style="background-color: none; width: 24px; height: 24px; align-content: space-between;" src="https://i.postimg.cc/L5f068Lj/delete.png" alt="Delete"></button>
              </div>
              <p class="view1">View in Documentation</p>
            </div>
        </div>
        <div class="bigbox2">
            <div class="line1"></div>
            <div class="smallbox12">
              <div class="imgicon">
                <p class="subtitle1">Bounce</p>
                <button style='border: none; background-color: rgba(31, 39, 130, 0);;'; type="button"> <img style="background-color: none; width: 24px; height: 24px; align-content: space-between;" src="https://i.postimg.cc/L5f068Lj/delete.png" alt="Delete"></button>
              </div>
              <p class="view1">View in Documentation</p>
            </div>
        </div>
        <div class="bigbox2">
            <div class="line1"></div>
            <div class="smallbox12">
              <div class="imgicon">
                <p class="subtitle1">Bounce</p>
                <button style='border: none; background-color: rgba(31, 39, 130, 0);;'; type="button"> <img style="background-color: none; width: 24px; height: 24px; align-content: space-between;" src="https://i.postimg.cc/L5f068Lj/delete.png" alt="Delete"></button>
              </div>
              <p class="view1">View in Documentation</p>
            </div>
        </div>
        <div class="bigbox2">
            <div class="line1"></div>
            <div class="smallbox12">
              <div class="imgicon">
                <p class="subtitle1">Bounce</p>
                <button style='border: none; background-color: rgba(31, 39, 130, 0);;'; type="button"> <img style="background-color: none; width: 24px; height: 24px; align-content: space-between;" src="https://i.postimg.cc/L5f068Lj/delete.png" alt="Delete"></button>
              </div>
              <p class="view1">View in Documentation</p>
            </div>
          </div>
      </div>
    </div>














    <footer>
      <div class="footer-item-container">
        <div class="footer-item">
          <a href="index.html"
            ><img
              id="footer-logo"
              class="logo"
              src="{% static 'images/animo logo.png' %}"
              alt="Our logo"
          /></a>
        </div>
        <div class="footer-item">
          <p class="footer-item-title">Our Company</p>
          <ul>
            <li><a href="#" class="footer-links">About Us</a></li>
            <li><a href="#" class="footer-links">Animation</a></li>
            <li><a href="#" class="footer-links">Testimonials</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <p class="footer-item-title">Documentation</p>
          <ul>
            <li><a href="#" class="footer-links">Get Started</a></li>
            <li><a href="#" class="footer-links">Annimation Library</a></li>
            <li><a href="#" class="footer-links">Installation Guide</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <p class="footer-item-title">Support</p>
          <ul>
            <li><a href="#" class="footer-links">FAQ</a></li>
            <li><a href="#" class="footer-links">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <p class="footer-item-title">Follow us</p>
          <ul>
            <li>
              <i class="social-icon fa-brands fa-github"></i>
              <a href="#" class="footer-links">Github</a>
            </li>
            <li>
              <i class="social-icon fa-brands fa-youtube"></i
              ><a href="#" class="footer-links">Youtube</a>
            </li>
          </ul>
        </div>
      </div>
      <p id="copyright">Copyright &copy; 2022 <span>Team 100</span></p>
      <!-- End of Footer -->
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>