/* Font Import */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --purple: rgba(31, 39, 130, 0.08);
  --green: #1f2782;
  --black: #0c0c0c;
  --pink: #ea5a65;
  --white: #ffffff;
  --max-width: 1440px;
}

.btn {
  background-color: var(--green);
  border-radius: 8px;
  color: white;
}

.btn:hover {
  background-color: #0a0d2b;
}

.btn:active {
  background-color: #727bdd;
  box-shadow: 0px 0px 0px 3px #a290aa;
}

.big-btn {
  padding: 20px 60px;
}

.small-btn {
  padding: 12px 40px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 44px;
  font-weight: 700px;
  line-height: 66px;
}

h2 {
  font-size: 36px;
  font-weight: 700px;
}

h3 {
  font-size: 32px;
  font-weight: 600px;
}

/* Header styling */

header {
  background-color: var(--purple);
}

#header-container {
  max-width: var(--max-width);
  padding: 0px 120px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#header-logo {
  width: 150px;
  /* height: 48px; */
}

/* header navigation  styling*/

#navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#navigation li {
  font-weight: 400;
  font-size: 20px;
  margin-left: 48px;
}

#navigation li a {
  color: #121212;
}

#navigation li a:hover {
}

#navigation li.active a {
  color: #1f2782;
  padding-bottom: 24.5px;
  border-bottom: 3px solid #1f2782;
}

#navigation li :nth-child(0) {
  margin-left: 106px;
}

.search-bar {
  background: transparent url(".././images/322497_search_icon.svg") no-repeat
    0px center;
  outline: 0px;
  color: #121212;
  font-weight: 400;
  font-size: 13px;
  padding: 10px 15px;
  padding-left: 35px;
  margin-left: 48px;
  border: 1.8px solid #121212;
  border-radius: 5px;
}

.search-bar::placeholder {
  color: #121212;
  font-weight: 400;
  font-size: 13px;
}

.hide {
  margin-left: 0px;
}

.entry {
  display: flex;
  align-items: center;
  justify-content: right;
}

.entry li {
  font-size: 20px;
}

.entry #login {
  margin: 0px 40px;
}

.entry #login a {
  color: var(--green);
}

.entry #register a {
  color: var(--white);
}

.show-after-login {
  display: none;
  align-items: center;
  justify-content: right;
  position: relative;
}

.show-after-login #profile-img-nav-bar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #aaaaaa;
  margin-left: 50px;
}

.profile-click {
  color: black;
  margin-left: 8px;
}

#show-after-profile-click {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  padding: 15px;
  width: 247px;
  height: 140px;
  background-color: rgba(31, 39, 130, 0.11);
  border-radius: 0px 0px 8px 8px;
  z-index: 1;
}

#show-after-profile-click .profile-img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: #aaaaaa;
  border-radius: 50%;
}

#show-after-profile-click .name {
  font-weight: 500;
  font-size: 18px;
}

#show-after-profile-click .v-profile {
  margin-top: 8px;
  font-size: 14px;
  display: block;
  font-weight: 400;
}

/* Content Styling */

main {
  background-color: var(--white);
}

/* HERO STYLING */

#hero {
  max-width: 1440px;
  padding: 0px 120px;
  margin: 0 auto;
}

#hero .top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 120px;
}

/* .item {
    flex: 10%;
} */

.top-container .heading {
  width: 514px;
  height: 198px;
  color: #121212;
}

.top-container .heading span {
  color: #3faeae;
}

.top-container .sub-heading {
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  width: 494px;
  height: 108px;
  margin-top: 20px;
  margin-bottom: 48px;
}

.top-container .btn {
  color: #f8f8f8;
  font-weight: 500;
  font-size: 20px;
}

.top-container ul {
  margin-top: 45px;
}

.top-container li:before {
  content: "✔";
  margin-right: 8px;
}

.top-container ul li {
  color: #2b2b2b;
  font-weight: 400;
  font-size: 20px;
  display: inline;
  list-style: none;
  list-style-position: outside;
  letter-spacing: 0.5px;
  margin-right: 25px;
}

.banner {
  width: 100%;
  position: relative;
  z-index: 0;
}

.social_proof {
  justify-content: center;
  text-align: center;
  margin-bottom: 140px;
}

.head {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #404040;
  margin-bottom: 35px;
  line-height: 24px;
}

.logos img {
  color: #bababa;
  margin-right: 3rem;
  margin-bottom: 2rem;
  width: 100px;
  align-items: center;
}

#platform-features {
  background-color: var(--purple);
}

.features-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 120px;
}

.features-container .title {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}

.flex-container .flex-item {
  flex-basis: 45%;
}

.flex-item .flex-head {
  color: #121212;
  width: 100%;
}

.flex-item .flex-sub {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #2b2b2b;
}

.flex-item img {
  width: 100%;
}

.flex-item .features-link {
  display: block;
  margin-top: 16px;
}

.flex-item .features-link a {
  font-size: 20px;
  font-weight: 500;
  color: #3faeae;
  cursor: pointer;
}

.flex-item .features-link a:hover {
  color: #194646;
}

#lower-content-container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 0px;
}

#lower-content-container section {
  margin: 120px 0px;
}

#lower-content-container .alt_option {
  text-align: center;
  margin-bottom: 0px;
}

section h1 {
  margin-bottom: 20px;
}

section h2 {
  margin-bottom: 50px;
}

section .description {
  text-align: center;
  justify-content: center;
}

section .description .description-content {
  color: #121212;
  font-size: 20px;
  margin-bottom: 50px;
}

section .description .btn {
  font-size: 20px;
}

.anima-sample {
  text-align: center;
}

.anima-sample-card-container {
  margin: 70px 0;
}

.anima-sample-card {
  width: 320px;
  height: 320px;
  background-color: rgba(31, 39, 130, 0.05);
  border-radius: 10px;
}

.review-card-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.review-card {
  max-height: 232px;
  min-width: 200px;
  min-height: 120px;
  background-color: rgba(31, 39, 130, 0.05);
  color: #121212;
  border-radius: 16px;
  padding: 20px;
}

.review-card .reviewer {
  display: grid;
  grid-template-columns: 0.4fr 3fr;
  align-items: center;
  margin-bottom: 20px;
}

.review-card .img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: #aaaaaa;
  border-radius: 50%;
}

.review-card .name {
  font-weight: 500;
  font-size: 20px;
}

.review-card .designation {
  margin-top: 8px;
  font-size: 14px;
  display: block;
  font-weight: 400;
}

.review-card .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Footer styling */

footer {
  background-color: rgba(31, 39, 130, 0.08);
  padding-top: 100px;
  margin-top: 150px;
}

.footer-item-container {
  max-width: 1400px;
  padding: 0 220px;
  margin: 0 auto;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
}

#footer-logo {
  width: 100px;
}

.footer-item-title {
  font-size: 20px;
  color: #121212;
  font-weight: 500;
  margin-bottom: 48px;
}

.footer-item li {
  margin-top: 36px;
}

.footer-item li a {
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
}

.footer-item li .social-icon {
  color: black;
  width: 20px;
  margin-right: 5px;
}

#copyright {
  display: block;
  background-color: rgba(31, 39, 130, 0.14);
  font-size: 16px;
  color: #121212;
  text-align: center;
  padding: 20px 0;
}

@media screen and (max-width: 1200px) {
  /* Header Styling */
  #header-container {
    padding: 0px 50px;
  }
  #navigation li {
    font-size: 16px;
    margin-left: 30px;
  }
  .search-bar {
    padding: 10px 20px;
    margin-left: 30px;
  }
  .entry li {
    font-size: 16px;
  }
  .entry #login {
    margin: 0px 30px;
  }
  #navigation li.active a {
    padding-bottom: 26.8px;
  }
  .search-bar::placeholder {
    display: none;
    color: var(--white);
    font-weight: 400;
    font-size: 13px;
  }
  /* Footer styling */
  .footer-item-container {
    padding: 0 80px;
  }
  .footer-item-title {
    font-size: 18px;
  }
  .footer-item li a {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  /* Header Styling */
  #header-container {
    padding: 0px 50px;
    width: 100%;
  }
  #navigation li {
    font-size: 16px;
    margin-left: 30px;
  }
  .search-bar {
    padding: 10px 20px;
    margin-left: 30px;
  }
  .entry li {
    font-size: 16px;
  }
  .entry #login {
    margin: 0px 30px;
  }
  #navigation li.active a {
    padding-bottom: 26.8px;
  }
  /* Footer styling */
  .footer-item-container {
    padding: 0 80px;
  }
  .footer-item-title {
    font-size: 18px;
  }
  .footer-item li a {
    font-size: 15px;
  }
}

/* Main content styling */

.content-holder2{
    /* padding-left: 47px;
    margin-top: 61px; */
    /* justify-content: center;
    align-content: center; */
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.picholder{
    margin-top: 41px;
    margin-bottom: 20px;
    width: 72px;
    height: 72px;
    border-radius: 36px;
    border: 2px solid black;
}
.picholder img{
    width: 100%;
    height: 100%;
}

.profilepicname{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-content: center;
}
.omega{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    left: 0;
    /* height: -400px; */
    padding-right: 245px;
}
.pencilicon1{
    width: 13px;
    height: 13px;
    margin-left: 8px;
    margin-bottom: 8px;
}
.editpiclink{
    background-color:#D5D5D5;
    text-align: center;
    align-content: center;
    border-radius: 8px;
    height: 36px;
    display: flex;
    width: 40%;
    margin-top: 12px;
    
}
.edit23{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    color: #D5D5D5;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0px;
    opacity: 0px;
    border: 0px;
    text-align: center;
    align-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 90%;
}
.edit1{
    margin-top: 10px;
    height: 8px;
    width: 10%;
}
.searchicon2{
    background: transparent url(../images/search-icon\ .png) no-repeat 5px center;
    background-size: 25px;
    outline: 0px;
    color: var(--header-black);
    font-weight: 400;
    font-size: 13px;
    padding: 10px 15px;
    padding-left: 35px;
    margin-left: 20px;
    border: 1.8px solid var(--header-black);
    border-radius: 5px;
    display: flex;
    /* justify-content: space-between; */
}
.savetitle3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 100px;
    margin-bottom: 10px;
    padding-left: 47px;
    margin-top: 61px;
    /* align-items: inherit; */
    /* justify-content: space-between; */
}
.mysavestitle1{
    height: 27px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}


/* Second Part */

.bigbox2{
    width: 80%;
    margin: 0 ;
    margin-bottom: 10px;
    /* Black/High emphasis */
    border: 1px solid #121212;
    border-radius: 8px;
    display: flex;
}
.subtitle1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
}
.view1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3FAEAE;
}
.line1{
    border-right: 1px solid black;
    border-radius: 8px 0px 0px 8px;
    width: 20%;
}
.smallbox12{
    padding-left: 24px;
    margin: 13px;
    gap: 10px;
    width: 80%;
}
.imgicon{
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 82%;
    border: none;
    margin-right: 5px;
}
.bigbox1{
    width: 50%;
    padding: 20px;
}
body{
    max-width: 100%;
    min-height: 100vh;
}
.link22{
    padding-left: 400px;
    margin-top: 23px;
}