.icon {
  height: 48px;
  width: 48px;
  background-color: blue;
  border-radius: 30px;
  margin-left: 20px;
}

section#comment-section {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  max-width: 878px;
  /* min-height: 813px; */
}

section#comment-on-post {
  /* background-color: blue; */
  align-self: flex-end;
  width: 80%;
}

#comment-on-post section {
  margin-bottom: 2vh;
}

section.post-card {
  background-color: white;
  max-width: 100%;
  border-radius: 16px;
  padding: 3%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 4vh;
}

.post-card div {
  display: flex;
  align-items: center;
}

.post-card > div:first-of-type {
  justify-content: space-between;
}

.post-card > div:first-of-type img,
.post-card > div:first-of-type p,
.post-card > div:first-of-type span
{
  margin-left: 8px;
}


.post-card > div:first-of-type span {
  color: #bcbcbc;
}

.post-card > div:first-of-type div:last-of-type a{
  color: #212121;
  display: flex;
  flex-direction: row;
}

.post-card > div:last-of-type div:first-of-type {
  margin-right: 10%;
}
.post-card > div:last-of-type div img{
  margin-right: 20%;
}

.post-card > div:last-of-type, .post-card > p {
  margin: 20px 8%;
}

.post-card > p {
  word-wrap: break-word;
}

.like-button {
  outline: none;
  margin-right: 5px;
  background-color: white;
  border: none;
}

.post-comment {
background-color: white;
max-width: 878px;
border-radius: 16px;
padding: 6% 6%;
padding-left: 2%;
display: flex;
justify-content: space-between;
flex-direction: row;
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
margin-bottom: 4vh;
margin-top: 10vh;
}

.post-comment img {
  width: 36.67px;
  height: 36.67px;
}
.post-comment form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.post-comment form input {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 8px;
  border-style: none;
  outline: none;
  padding: 4%;
  padding-top: 2px;
  min-height: 120px;
  width: 75%;
}

.post-comment form button {
  background-color: #1F2782;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  height: 50px;
  width: 18%;
}

#comment-reply {
  background-color: white;
  border-radius: 16px;
  padding: 6% 6%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset; */
  margin: 5% 4%;
  margin-top: 10%;
  max-width: 100% !important;
}

#comment-reply div {
  max-width: 100%;
}