@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

.animeLink {
  text-decoration: none;
  color: black;
  font-size: 11pt;
}

.animeSubLink {
  text-decoration: none;
  color: black;
  font-size: 10pt;
}
.codebox {
  /* Surface/Elevation1 */

  background: rgba(31, 39, 130, 0.05);
  border-radius: 4px;
  padding: 10px 0px 10px 10px;
<<<<<<< HEAD
}

.customise-button {
  background: #1f2782;
  color: #f8f8f8;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.25px;
  padding: 12px 16px;
  gap: 8px;
  width: 204px;
  height: 48px;
=======
>>>>>>> 28602e4d1849e33bf671a307d69ecb9e25cc3c19
}
.anime-button {
  background: #1f2782;
  color: #f8f8f8;
<<<<<<< HEAD
  cursor: pointer;
  border: none;
=======
>>>>>>> 28602e4d1849e33bf671a307d69ecb9e25cc3c19
  border-radius: 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.25px;
  padding: 12px 16px;
  gap: 8px;
  width: 204px;
  height: 48px;
=======
  font-size: 12px;
  letter-spacing: 0.25px;
  width: 120px;
  height: 38px;
  left: 605px;
  top: 0px;
>>>>>>> 28602e4d1849e33bf671a307d69ecb9e25cc3c19
}

.videoContent {
  background: #6b6b6b;
  border-radius: 15px;
}
