@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

.main_box {
  background-size: 150px, 150px, 300px, 300px;
  background-image: url("https://res.cloudinary.com/ddrdcj3lb/image/upload/v1659813476/login_left_blobs_k8yobf.png"),
    url("https://res.cloudinary.com/ddrdcj3lb/image/upload/v1659813477/login_right_blobs_cy94zh.png"),
    url("https://res.cloudinary.com/ddrdcj3lb/image/upload/v1659813480/bottom_left_blobs_zkbchn.png"),
    url("https://res.cloudinary.com/ddrdcj3lb/image/upload/v1659813480/bottom_right_blobs_bepgpl.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 10% 50%, 90% 50%, bottom left, bottom right;
  width: 100%;
}

.section {
  padding-top: 121px;
  padding-bottom: 121px;
}

.login-card {
  border-radius: 16px;
  background: #edeef2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  /* text-align: center; */
  margin: 0px auto;
  height: 800px;
  width: 592px;
  padding-top: 1px;
}

h4 {
  margin-bottom: 4px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #2b2b2b;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 16px;
}

.form-check-label {
  margin-right: 180px;
}

.para-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: center;
  color: rgba(18, 18, 18, 0.7);
}

a {
  text-decoration: none;
  color: #1a216c;
}

label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #080808;
}

.main-form input {
  /* width: 80%; */
  padding: 12px 20px;
  margin-top: 8px;
  /* margin: 8px 0 0px 0; */
  width: 432px;
  /* width: 100%; */
  height: 48px;
  left: 80px;
  top: 236px;
  background: rgba(31, 39, 130, 0.05);
  border: 1px solid #5e5e5e;
  border-radius: 8px;
  color: #9f9f9f;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  /* transition: background 0.2s, border 0.2s; */
}

.form-group {
  margin-top: 8px;
}

.radio-check {
  /* display: flex; */
  text-align: center;
  display: inline-block;
  justify-content: center;
  /* width: 100%; */
}

.radio-check .form-check a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #1a216c;
}

.radio-check .form-check .form-check-label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #121212b2;
}

.radio-check .form-check .form-check-input {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 2px solid rgba(122, 122, 122, 0.8);
  border-radius: 2px;
}
.main-form {
  border-radius: 6px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* justify-content: center; */
  padding: 30px 0 0px 0;
  /* display: inline-block; */
}

form i {
  margin-left: -30px;
  cursor: pointer;
  color: #808080;
}

.form-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;

  /* identical to box height, or 109% */
  display: flex;
  align-items: center;

  /* Grey/500 */
  color: #5e5e5e;
}

.center {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-button {
  background-color: #1f2782;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  outline: none;
  height: 48px;
  width: 432px;
  /* padding: 12px, 40px, 12px, 40px; */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.15px;
  padding: 12px 40px;
  gap: 8px;
}

@media screen and (max-width: 500px) {
  .main_box {
    background-color: #f8f8f8;
    background-image: none;
  }

  .login-card {
    border-radius: 16px;
    background: #edeef2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    /* display: inline-block; */
    margin-top: 50px;
    margin-bottom: 50px;
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 292px;
  }

  input {
    width: 232px;
    /* width: 100%; */
    height: 48px;
  }

  /* .input-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  } */
  h4 {
    font-size: 24px;
    text-align: center;
  }

  .para-text {
    font-size: 14px;
  }

  .form-check-label {
    margin-right: 80px;
  }

  .main-form {
    /* display: flex; */
    margin-left: 0px;
    /* justify-content: center;
    align-items: center; */
    /* margin: 0 auto; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .form-button {
    width: 232px;
    /* width: 90%; */
    height: 48px;
  }

  .form-check-label {
    margin-right: 20px;
  }
}


@media screen and (max-width: 600px) {
  .login-card {
    margin-top: 112px;
    margin-bottom: 112px;
    height: 600px;
    width: 400px;
  }

  input {
    width: 300px;
    /* width: 100%; */
    height: 48px;
  }

  .form-button {
    width: 300px;
    /* width: 90%; */
    height: 48px;
  }

  .form-check-label {
    margin-right: 75px;
  }
}

