{% extends 'base.html' %}
{% load static %}
{% block style %}
<link href="{% static 'css/componentDesign.css' %}" rel="stylesheet" />
<link href="{% static 'css/design.css' %}" rel="stylesheet" />
<link href="{% static 'css/layout.css' %}" rel="stylesheet" />
<link href="{% static 'css/animation.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="maincontentContainer container">
  {% include 'common/sideNav.html' %}

  <!-- menu content -->
  <div class="menuContentContainer">
    <!-- top row with documentation -->
    <div class="documentationRow">
      <!-- section content -->
      <div class="section-content">
        <!-- section content holder -->
        <div class="section-contentHolder">
          <div class="sectionHeaderHolder">
            <span class="anime-mainHeader">Documentation</span>
          </div>

          <div class="sectionContentBody">
            This is a detailed and comprehensive guide of how to use our
            animation library.
          </div>
        </div>
      </div>
    </div>

    <!-- image row -->
    <div
      class="imageRow d-flex align-items-end"
      style="
        background-image: url(https://res.cloudinary.com/dc2z15vip/image/upload/v1659546386/logo_111022_btupnf.png);
        background-repeat: no-repeat;
        background-size: 254px 136px;
        background-position: center;
      "
    >
      <!-- logo image content -->
      <div class="logo-contentContainer">
        <div class="logo-contentHeader">
          <span class="logoHeader">Getting started with animation</span>
        </div>
        <div class="logoContentBody">
          Learn more about Animo's features and get started by exploring a few
          interactive examples
        </div>
      </div>
    </div>

    <!-- row 3 Amino content -->
    <div class="animeRow">
      <!-- section content -->
      <div class="section-content">
        <!-- section content holder -->
        <div class="section-contentHolder">
          <div class="sectionHeaderHolder">
            <span class="anime-contentHeader">Animo</span>
          </div>

          <div class="sectionContentBody">
            Animo Library is a third party open-source library that contains
            pre-made animation files(codes). They are cross-browser animations
            made for you to use in your projects.
          </div>
        </div>
      </div>
    </div>

    <!-- row 4 with two columns (Animation and getting started) -->
    <div class="homeIntroRow">
      <!-- the getStarted column -->
      <div class="anime-sectionColumn" style="margin-right: 60px">
        <!-- section title -->
        <div class="sectionTitle">
          <span class="anime-sectionHeader">Get Started</span>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Introduction</span>
            </div>

            <div class="sectionContentBody">
              This page provides all published technical documentation for the
              Animo Library.
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Installation Guide</span>
            </div>

            <div class="sectionContentBody">
              You can use this installation guide to follow the steps on how to
              download and make use of the library.
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Examples</span>
            </div>

            <div class="sectionContentBody">Sample of the codes</div>
          </div>
        </div>
      </div>

      <!-- the animation column -->
      <div class="anime-sectionColumn">
        <!-- section title -->
        <div class="sectionTitle">
          <span class="anime-sectionHeader">Animation</span>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Move up</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the move up action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Move down</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the move down action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Move left</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the move left action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Move right</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the move right action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Blink</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the blink action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Bounce</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the bounce action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Fade In</span>
            </div>

            <div class="sectionContentBody">
              This adds the fade in effect to your web element
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Flip</span>
            </div>

            <div class="sectionContentBody">
              This adds the effect to show the front and back of an element
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Swing</span>
            </div>

            <div class="sectionContentBody">
              This adds the effect that causes an element to move back and forth
              or from side to side while suspended or on an axis
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Tada</span>
            </div>

            <div class="sectionContentBody">
              This adds the effect to move an element from side to side
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: end">
      <span>
        <a href="#introduction">
          <span> Introduction </span>

          <span>
            <i class="fa-solid fa-pencil"></i>
          </span>
        </a>
      </span>
    </div>
  </div>
</div>

{% endblock %}
<!-- the footer row -->
