{% extends 'base.html' %} {% load static %} {% block style %}
<link href="{% static 'css/componentDesign.css' %}" rel="stylesheet" />
<link href="{% static 'css/documentation.css' %}" rel="stylesheet" />
<link href="{% static 'css/layout.css' %}" rel="stylesheet" />
<link href="{% static 'css/animation.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}
<div class="maincontentContainer container">
  {% include 'common/sideNav.html' %}

  <!-- menu content -->
  <div class="menuContentContainer" style="margin-top: 86px">
    <!-- top row with documentation -->
    <div class="documentationRow">
      <!-- section content -->
      <div class="section-content">
        <!-- section content holder -->
        <div class="section-contentHolder">
          <div class="sectionHeaderHolder">
            <span class="anime-mainHeader">Documentation</span>
          </div>

          <div class="sectionContentBody1">
            This is a detailed and comprehensive guide of how to use our
            animation library.
          </div>
        </div>
      </div>
    </div>
    <!-- image row -->
    <div
      class="imageRow d-flex align-items-end"
      style="
        background-image: url(https://res.cloudinary.com/dc2z15vip/image/upload/v1659546386/logo_111022_btupnf.png);
        background-repeat: no-repeat;
        background-size: 254px 136px;
        background-position: 269px 136px;
      "
    >
      <!-- logo image content -->
      <div class="logo-contentContainer" style="margin-top: 24px">
        <div class="logo-contentHeader" style="margin-top: 350px">
          <span class="logoHeader">Getting started with animation</span>
        </div>
        <div class="logoContentBody">
          Learn more about Animo's features and get started by exploring a few
          interactive examples
        </div>
      </div>
    </div>

    <!-- row 3 Amino content -->

    <div class="animeRow">
      <!-- section content -->
      <div class="section-content">
        <!-- section content holder -->
        <div class="section-contentHolder">
          <div class="sectionHeaderHolder">
            <span class="anime-contentHeader">Animo</span>
          </div>

          <div class="sectionContentBody2">
            Animo Library is a third party open-source library that contains
            pre-made animation files(codes). They are cross-browser animations
            made for you to use in your projects.
          </div>
        </div>
      </div>
    </div>

    <!-- row 4 with two columns (Animation and getting started) -->
    <div class="homeIntroRow">
      <!-- the getStarted column -->
      <div class="anime-sectionColumn" style="margin-right: 60px">
        <!-- section title -->
        <div class="sectionTitle">
          <span class="anime-sectionHeader">Get Started</span>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Introduction</span>
            </div>

            <div class="sectionContentBody3">
              This page provides all published technical documentation for the
              Animo Library.
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Installation Guide</span>
            </div>

            <div class="sectionContentBody3">
              You can use this installation guide to follow the steps on how to
              download and make use of the library.
            </div>
          </div>
        </div>

        <!-- section content -->
        <!-- <div class="section-content" style="margin-top: 38px"> -->
        <!-- section content holder -->
        <!-- <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader">Examples</span>
            </div>

            <div class="sectionContentBody4">Sample of the codes</div>
          </div>
        </div> -->
      </div>

      <!-- the animation column -->
      <div class="anime-sectionColumn">
        <!-- section title -->
        <div class="sectionTitle">
          <span class="anime-sectionHeader">Animations</span>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader2">Move up</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the move up action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader2">Move down</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the move down action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader2">Move left</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the move left action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader2">Move right</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the move right action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader2">Blink</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the blink action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader2">Bounce</span>
            </div>

            <div class="sectionContentBody">
              This makes the element perform the bounce action
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader2">Fade In</span>
            </div>

            <div class="sectionContentBody">
              This adds the fade in effect to your web element
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader2">Flip</span>
            </div>

            <div class="sectionContentBody">
              This adds the effect to show the front and back of an element
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader2">Swing</span>
            </div>

            <div class="sectionContentBody">
              This adds the effect that causes an element to move back and forth
              or from side to side while suspended or on an axis
            </div>
          </div>
        </div>

        <!-- section content -->
        <div class="section-content">
          <!-- section content holder -->
          <div class="section-contentHolder">
            <div class="sectionHeaderHolder">
              <span class="anime-sectionSubHeader2">Tada</span>
            </div>

            <div class="sectionContentBody">
              This adds the effect to move an element from side to side
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="intro-button d-flex justify-content-end"
      style="text-align: end; width: 850px"
    >
      <span>
        <a href="./Introduction.html" style="height: 24px">
          <span> Introduction</span>

          <span>
            <img
              src="https://res.cloudinary.com/ddrdcj3lb/image/upload/v1660560635/arrow-right_e22btk.png"
              height="17px"
              alt=""
          /></span>
        </a>
      </span>
    </div>
  </div>
</div>

{% endblock %}
