{% extends 'base.html' %} {% load static %}
<!-- --------------------------------------------------------->
{% load active_link_tags %}
<!-- --------------------------------------------------------->
{% block title %} mysave page {% endblock %}
<!-- ---------------------------------------------------------------------------- -->
{% block style %}
<link href="{% static 'css/mysaves.css' %}" rel="stylesheet" /> {% endblock %}
{% block content %}
<div class="saves-title" style="margin-top: 170px">
  <p>My Saves</p>
</div>
<div class="bigbox1" style="margin-bottom: 170px">
  <div class="biggerbox1">
    <div class="bigbox2">
      <div class="line1"></div>
      <div class="smallbox12">
        <div class="imgicon">
          <p class="subtitle1">Bounce</p>
          <button
            style="border: none; background-color: rgba(31, 39, 130, 0)"
            ;
            type="button"
          >
            <img
              style="
                background-color: none;
                width: 24px;
                height: 24px;
                align-content: space-between;
              "
              src="https://i.postimg.cc/tCGBc87M/close-icon-my-saves-page.png"
              alt="Escape"
            />
          </button>
        </div>
        <p class="view1">View in Documentation</p>
      </div>
    </div>
    <div class="bigbox2">
      <div class="line1"></div>
      <div class="smallbox12">
        <div class="imgicon">
          <p class="subtitle1">Bounce</p>
          <button
            style="border: none; background-color: rgba(31, 39, 130, 0)"
            ;
            type="button"
          >
            <img
              style="
                background-color: none;
                width: 24px;
                height: 24px;
                align-content: space-between;
              "
              src="https://i.postimg.cc/tCGBc87M/close-icon-my-saves-page.png"
              alt="Escape"
            />
          </button>
        </div>
        <p class="view1">View in Documentation</p>
      </div>
    </div>
    <div class="bigbox2">
      <div class="line1"></div>
      <div class="smallbox12">
        <div class="imgicon">
          <p class="subtitle1">Bounce</p>
          <button
            style="border: none; background-color: rgba(31, 39, 130, 0)"
            ;
            type="button"
          >
            <img
              style="
                background-color: none;
                width: 24px;
                height: 24px;
                align-content: space-between;
              "
              src="https://i.postimg.cc/tCGBc87M/close-icon-my-saves-page.png"
              alt="Escape"
            />
          </button>
        </div>
        <p class="view1">View in Documentation</p>
      </div>
    </div>
    <div class="bigbox2">
      <div class="line1"></div>
      <div class="smallbox12">
        <div class="imgicon">
          <p class="subtitle1">Bounce</p>
          <button
            style="border: none; background-color: rgba(31, 39, 130, 0)"
            ;
            type="button"
          >
            <img
              style="
                background-color: none;
                width: 24px;
                height: 24px;
                align-content: space-between;
              "
              src="https://i.postimg.cc/tCGBc87M/close-icon-my-saves-page.png"
              alt="Escape"
            />
          </button>
        </div>
        <p class="view1">View in Documentation</p>
      </div>
    </div>
    <div class="bigbox2">
      <div class="line1"></div>
      <div class="smallbox12">
        <div class="imgicon">
          <p class="subtitle1">Bounce</p>
          <button
            style="border: none; background-color: rgba(31, 39, 130, 0)"
            ;
            type="button"
          >
            <img
              style="
                background-color: none;
                width: 24px;
                height: 24px;
                align-content: space-between;
              "
              src="https://i.postimg.cc/tCGBc87M/close-icon-my-saves-page.png"
              alt="Escape"
            />
          </button>
        </div>
        <p class="view1">View in Documentation</p>
      </div>
    </div>
    <div class="bigbox2">
      <div class="line1"></div>
      <div class="smallbox12">
        <div class="imgicon">
          <p class="subtitle1">Bounce</p>
          <button
            style="border: none; background-color: rgba(31, 39, 130, 0)"
            ;
            type="button"
          >
            <img
              style="
                background-color: none;
                width: 24px;
                height: 24px;
                align-content: space-between;
              "
              src="https://i.postimg.cc/tCGBc87M/close-icon-my-saves-page.png"
              alt="Escape"
            />
          </button>
        </div>
        <p class="view1">View in Documentation</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
