{% extends 'base.html' %} {% load static %}
<!-- --------------------------------------------------------->
{% load active_link_tags %}
<!-- --------------------------------------------------------->
{% block title %} Profile Page {% endblock %}
<!-- ---------------------------------------------------------------------------- -->
{% block style %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}
<main>
  <div class="profile-container">
    <p class="profile">My profile</p>
    <p class="profile_little">Make changes to your profile here</p>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} {% if messages %} {% for message in messages %}
      <!-- ---------------------------------------------------------------- -->
      {{message}} {% endfor %} {% endif %}
      <div class="form-group">
        <div class="label">
          <p>Profile Picture</p>
        </div>
        <div class="input_value" id="profile_img">
          <div id="img">
            <img
              src="{{image}}"
              alt="loading"
              width="72px"
              height="72px"
              style="border-radius: 36px"
            />
          </div>
          <div>
            <input
              type="file"
              name="picture"
              id="picture"
              placeholder="Change Photo"
              accept="image/jpg,image/jpeg,image/png"
            />
            <label for="picture">Change Photo</label>

            <p>Max file size: 2MB</p>
          </div>
        </div>
      </div>
      <!-- second part -->
      <div class="form-group">
        <div class="label">
          <p>Username</p>
        </div>
        <div class="input_value">
          <input
            type="text"
            id="username"
            placeholder="Username"
            name="username"
            value="@{{username}}"
            readonly
          />
        </div>
      </div>

      <!-- third part -->
      <div class="form-group">
        <div class="label">
          <p>Email address</p>
        </div>
        <div class="input_value">
          <div id="email_container_no_edit">
            <p>Current email address : {{email}}</p>
            <input type="submit" id="email_update" value="Update email" />
            <br />
          </div>
          <div id="email_container_edit">
            <p>Current email address : {{email}}</p>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email address"
              autocomplete="off"
            /><br />
            <!-------------- buttons  ------------------->
            <input
              type="submit"
              value="Cancel"
              href="#"
              class="cancel_button"
            />
            <input
              type="submit"
              value="Update"
              href="#"
              class="update_button"
            />
          </div>
        </div>
      </div>
      <!-- fourth part -->
      <div class="form-group">
        <div class="label">
          <p>Password</p>
        </div>
        <div class="input_value">
          <div class="input_value">
            <div id="password_container_no_edit">
              <input
                type="submit"
                id="password_update"
                value="Change Password"
              />
            </div>
            <div id="password_container_edit">
              <input
                type="password"
                name="password"
                id="password"
                autocomplete="off"
              /><br />
              <!-------------- buttons  ------------------->
              <input type="submit" value="Cancel" class="cancel_button" />
              <input type="submit" value="Update" class="update_button" />
            </div>
          </div>
        </div>
      </div>
      <button class="disabled" id="save" disabled>Save Changes</button>
    </form>
  </div>
</main>

{% endblock %} {% block scripts %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
