{% extends 'base.html' %} {% load static %}
<!-- --------------------------------------------------------->
{% load crispy_forms_tags %} {% load active_link_tags %}
<!-- --------------------------------------------------------->
{% block title %} Support us page {% endblock %}
<!-- ---------------------------------------------------------------------------- -->
{% block style %} {% comment %}
<link href="{% static 'css/animation.css' %}" rel="stylesheet" />
<link href="{% static 'css/search.css' %}" rel="stylesheet" /> {% endblock %} {% block content %}
<div class="search-container">
    <div class="search-top-container">
        <div class="search-result-text">
            <p>Search results for "<span id="filter"></span>"</p>
        </div>
        <div id="sort-by">
            <span id="sort-text">Sort by</span><i class="fa-thin fa-angle-down"></i>
            <div id="sort-dropdown">
                <p class="sort-link"><a>Recent</a></p>
                <p class="sort-link"><a>Popular</a></p>
                <p class="sort-link"><a>New</a></p>
            </div>
        </div>
    </div>
    <div id="animation-found-container">
        <div class="anima-display-container">
            <div class="anima-display">
                <div class="animation moveup"></div>
            </div>
            <div class="lower-container">
                <div>
                    <p>Name</p>
                </div>
                <div>
                    <i id="profile-click" class="fa-thin fa-chevron-down"></i><i id="profile-click" class="fa-thin fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class="anima-display-container">
            <div class="anima-display">
                <div class="animation moveup"></div>
            </div>
            <div class="lower-container">
                <div>
                    <p>Name</p>
                </div>
                <div>
                    <i id="profile-click" class="fa-thin fa-chevron-down"></i><i id="profile-click" class="fa-thin fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class="anima-display-container">
            <div class="anima-display">
                <div class="animation moveup"></div>
            </div>
            <div class="lower-container">
                <div>
                    <p class="anima-name">Name</p>
                </div>
                <div>
                    <i id="profile-click" class="fa-thin fa-chevron-down"></i><i id="profile-click" class="fa-thin fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class="anima-display-container">
            <div class="anima-display">
                <div class="animation moveup"></div>
            </div>
            <div class="lower-container">
                <div>
                    <p>Name</p>
                </div>
                <div>
                    <i id="profile-click" class="fa-thin fa-chevron-down"></i><i id="profile-click" class="fa-thin fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class="anima-display-container">
            <div class="anima-display">
                <div class="animation moveup"></div>
            </div>
            <div class="lower-container">
                <div>
                    <p>Name</p>
                </div>
                <div>
                    <i id="profile-click" class="fa-thin fa-chevron-down"></i><i id="profile-click" class="fa-thin fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="animation-not-found">
        <img src="./image/Laptop with a search magnifying glass. Page is not found.png" alt="not-found-image">
        <h3 class="nf-title">No results found</h3>
        <p class="nf-desc">We couldn’t find any animations related to your search</p>
    </div>
</div>