{% extends 'base.html' %} {% load static %} {% block style %}
<link href="{% static 'css/componentDesign.css' %}" rel="stylesheet" />
<link href="{% static 'css/design.css' %}" rel="stylesheet" />
<link href="{% static 'css/layout.css' %}" rel="stylesheet" />
<link href="{% static 'css/animation.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}
<div class="maincontentContainer container">
  {% include 'common/sideNav.html' %}

  <!-- menu content -->
  <div class="menuContentContainer">
    <!-- top row with animations -->
    <div class="documentationRow">
      <!-- section content -->
      <div class="section-content">
        <!-- section content holder -->
        <div class="section-contentHolder">
          <div class="sectionHeaderHolder d-flex justify-content-between">
            <span class="anime-mainHeader">Animation</span>

            <span class="d-flex justify-content-end">
              <button class="anime-button">
                <span class="download-text">Download Library</span>
                <span class="btn-icon"
                  ><img
                    src="https://res.cloudinary.com/ddrdcj3lb/image/upload/v1660245112/received_a4oula.png"
                    alt=""
                    width="20"
                /></span>
              </button>
            </span>
          </div>

          <div class="sectionContentBody">
            <p>
              The following animations are supplied in the library. Click on the
              name of the animation to learn more about their main usage
              scenarios, how to define them and to see an example of the
              animation
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="anime-animationDetails"></div>
  </div>
</div>

<script></script>
{% endblock %}
