{% extends 'base.html' %} {% block content %}
<div class="maincontentContainer container">
  {% include 'common/sideNav.html' %}

  <!-- menu content -->
  <div class="menuContentContainer">
    <!-- top row with animations -->
    <div class="animeRow documentationRow">
      <h2>Animations</h2>
      <p>
        The following animations are supplied in the library. Click on the name
        of the animation to learn more about their main usage scenarios, how to
        define them and to see an example of the animation
      </p>

      <p>
        Here are some of the animations we have in our Animo library, click on
        any one to view the source code or watch how it is being displayed.
      </p>
    </div>

    <div id="anime-animationDetails"></div>

  </div>
</div>

<script></script>
{% endblock %}
