{% extends 'base.html' %} {% load static %} {% block style %}
<link href="{% static 'css/componentDesign.css' %}" rel="stylesheet" />
<link href="{% static 'css/design.css' %}" rel="stylesheet" />
<link href="{% static 'css/layout.css' %}" rel="stylesheet" />
<link href="{% static 'css/animation.css' %}" rel="stylesheet" />
<link href="{% static 'css/comment.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}
<div class="maincontentContainer container">
  {% include 'common/sideNav.html' %}

  <!-- menu content -->
  <div class="menuContentContainer">
    <!-- top row with animations -->
    <div class="documentationRow">
      <!-- section content -->
      <div class="section-content">
        <!-- section content holder -->
        <div class="section-contentHolder">
          <div class="sectionHeaderHolder d-flex justify-content-between align-items-baseline">
            <span class="anime-mainHeader">Animation</span>

            <span>
              <button class="anime-button">
                <span class="mr-1">Download Library</span>
                <span class="btn-icon">
                  <i class="fa-solid fa-arrow-down"></i>
                </span>
              </button>
            </span>
          </div>

          <div class="sectionContentBody">

            <p>
              The following animations are supplied in the library. Click on the name
              of the animation to learn more about their main usage scenarios, how to
              define them and to see an example of the animation
            </p>

            <p>
              Here are some of the animations we have in our Animo library, click on
              any one to view the source code or watch how it is being displayed.
            </p>
          </div>
        </div>
      </div>

    </div>

    <div id="anime-animationDetails"></div>


    <div class="commentcontainer11">
      <div class="title">Comments</div>
      {% for post in posts %}
      <div class="commentcontainer2">

        <div class="container1">
          <div class="">
            <div class="subcontainer2">
              <div class="icon"></div>

              <div class="subcontainer2text">{{ post.published_date | date }} at {{ post.published_date | time }}</div>

              <span class=" alignright">
                 <img src="../../static/images/Reply icon.jpg"
                 width="20"
                 height="20"
                 alt="reply"> reply</span>
            </div>
          </div>
          <div class="subcontainer1">
            <div class="subcontainer1text">
              {{ post.text | linebreaksbr }}
            </div>
          </div>

          <div class="subcontainer3">
            <div class="sidebyside dis">
              <div class=" sidebysidebox ">
                <div class="subcontainer3share sidebysidebox">
                    <img src="../../static/images/share-2.svg" alt="share"
                    width="30"
                    height="30"
                    class="sidebysidebox"
                    />
                    share</div>
              </div>
              <div class="sidebysidebox subcontainer3like">
              <img
              src="../../static/images/heart.svg"
                alt="like icon"
                width="30"
                height="30"
                class="sidebysidebox"
              />
              like</div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}


      <div class="commentcontainer2 sidebyside ">
        <div class="commicon comm sidebysidebox "></div>
        <div class=" ">
          <input type="text" class="container2 searchbox sidebysidebox move2" placeholder="Add a comment">

        </div>
        <button class=" sendbutton sidebysidebox move1">Send</button>
        <!-- <div class="sidebysidebox">
          <div class="sidebysidebox">

          </div>
        </div> -->
      </div>
    </div>


  </div>
</div>



<script></script>
{% endblock %}
